	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/04/2019 18:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;

}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-linkedin-logo:before { content: "\f102"; }
.flaticon-behance-logo:before { content: "\f103"; }
.flaticon-google-plus:before { content: "\f104"; }
.flaticon-menu:before { content: "\f105"; }
.flaticon-left-arrow-chevron:before { content: "\f106"; }
.flaticon-right-chevron:before { content: "\f107"; }
.flaticon-graphic-design:before { content: "\f108"; }
.flaticon-van:before { content: "\f109"; }
.flaticon-handyman-tools:before { content: "\f10a"; }
.flaticon-link:before { content: "\f10b"; }
.flaticon-man-user:before { content: "\f10c"; }
.flaticon-like:before { content: "\f10d"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f10e"; }
.flaticon-star:before { content: "\f10f"; }
.flaticon-star-social-favorite-middle-full:before { content: "\f110"; }
.flaticon-pinterest:before { content: "\f111"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f112"; }
.flaticon-phone-receiver:before { content: "\f113"; }
.flaticon-envelope:before { content: "\f114"; }
.flaticon-checked:before { content: "\f115"; }
.flaticon-reload:before { content: "\f116"; }
.flaticon-menu-1:before { content: "\f117"; }
.flaticon-list:before { content: "\f118"; }
.flaticon-link-symbol:before { content: "\f119"; }
.flaticon-play-button:before { content: "\f11a"; }
.flaticon-reply:before { content: "\f11b"; }