/*=========== xtra small device ============*/
@media(max-width:575.98px) {
    .top-mid {
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .top-left {
        width: 100%;
        padding: 15px 0 0px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .top-right {
        padding: 15px 0 10px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .navbar-light .navbar-toggler {
        color: #FFC332;
        border-color: #FFC332;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
    }

    .navbar-light .navbar-nav .nav-link img {
        right: -25px;
    }

    span.flaticon-menu {
        display: none;
    }

    .drop-down {
        top: 0px;
        left: 20px;
    }

    /*===========================banner=====================*/
    #banner {
        padding-bottom: 50px;
    }

    .banner-text h3 {
        padding-top: 50px;
        font-size: 30px;
    }

    .banner-text h4 {
        font-size: 12px;
        padding-bottom: 0px;
        padding-left: 70px;

    }

    .banner-text h6 {
        font-size: 12px;
    }
}

@media(max-width:547px) {
    .navbar-light .navbar-nav .nav-link {
        text-align: right;
    }
}

/*=========== small device ============*/
@media(min-width:576px) and (max-width:767.98px) {
    .top-mid {
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .top-left {
        width: 100%;
        padding: 15px 0 0px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .top-right {
        padding: 15px 0 10px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .navbar-light .navbar-toggler {
        color: #FFC332;
        border-color: #FFC332;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
    }

    .drop-down {
        top: 0px;
        left: 20px;
    }

    .navbar-light .navbar-nav .nav-link img {
        right: -25px;
    }

    span.flaticon-menu {
        display: none;
    }


    #banner {
        padding-bottom: 50px;
    }

    .banner-text h3 {
        padding-top: 50px;
        font-size: 30px;
    }

    .banner-text h4 {
        font-size: 12px;
        padding-bottom: 0px;
        padding-left: 70px;

    }

    .banner-text h6 {
        font-size: 12px;
    }


}

/*=============================== md Device ======================*/

@media(min-width:768px) and (max-width:991.98px) {
    .top-mid {
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .top-left {
        width: 100%;
        padding: 15px 0 0px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .top-right {
        padding: 15px 0 10px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .navbar-light .navbar-toggler {
        color: #FFC332;
        border-color: #FFC332;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
    }

    .drop-down {
        top: 0px;
        left: 20px;
    }

    .navbar-light .navbar-nav .nav-link img {
        right: -25px;
    }

    span.flaticon-menu {
        display: none;
    }

}