<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comming Soon</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font|Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link rel="stylesheet" href="font/flaticon.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>

<body>
<!-- Start: Preloader Section
        =================================== -->
    <div id="main-preloader" class="main-preloader semi-dark-background">
        <div class="main-preloader-inner center">

            <div class="preloader-percentage center">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
                <div class="object object_four"></div>
                <div class="object object_five"></div>
            </div>
            <div class="preloader-bar-outer">
                <div class="preloader-bar"></div>

            </div>

        </div>
    </div>
    <!-- End: Preloader Section
        =================================== -->
    <!--------------------------- banner Part Start  --------------------------->
    <section id="coming">
        <div class="container">
           <div class="row">
                <div class="col-lg-6 text-center m-auto">
                    <div class="logo">
                        <a href="../Home/index.html"><img src="images/banner/logo.png" alt=""></a>
                    </div>
                    <div class="comming-text">
                        <h5>Coming</h5> <span>Soon</span>
                        <p>Our website is under construction, we are working very hard to give you the best
                            experience with this one.</p>
                    </div>
                </div>                    
            </div>
            <div class="row mx-0">
                <div class="col-lg-12 text-center m-auto ">
                    <div id="getting-started">
                       <div class="row mx-0 text-center">
                           <div class="col-lg-3 col-6 col-md-3">
                               <div class="style days"></div>
                               <h6>Days</h6>
                           </div>
                           <div class="col-lg-3 col-6 col-md-3">
                               <div class="style hours"></div>
                               <h6>Hours</h6>
                           </div>
                           <div class="col-lg-3 col-6 col-md-3">
                               <div class="style minuit"></div>
                               <h6>Minuit</h6>
                           </div>
                           <div class="col-lg-3 col-6 col-md-3">
                               <div class="style seconds"></div>
                               <h6>Seconds</h6>
                               
                           </div>
                       </div>                        
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-lg-6 text-center m-auto">
                    <div class="subscribe">
                        <h4>Subscribe to Get Notified</h4>
                        <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="#"><span class="input-group-text" id="basic-addon2">subscribe</span></a>
                        </div>
                    </div>
                    </div>
                    <div class="sub-icon">
                        <a href="#"><i class="flaticon-facebook"></i></a>
                        <a href="#"><i class="flaticon-twitter"></i></a>
                        <a href="#"><i class="flaticon-linkedin-logo"></i></a>
                        <a href="#"><i class="flaticon-behance-logo"></i></a>
                        <a href="#"><i class="flaticon-google-plus"></i></a>
                        
                    </div>

                </div>
            </div>
        </div>
        <a href="#" class="bac-to-top">
            <i class="fas fa-angle-double-up"></i>
        </a>
    </section>
    

    <!--------------------------- banner Part Start  --------------------------->
    <!--------------------------- Footter Part Start  --------------------------->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center m-auto">
                    <div class="footer">
                        <h3>Copyright @ 2017. All right reserved by </h3>
                        <h4>PRODUSTRY</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------------------- Footter Part End  --------------------------->

    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/custom.js"></script>
    
</body>

</html>
